<!DOCTYPE html>
<html>
    <head>
        <title>C/GPA Calculator</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    </head>
    <body ng-app="cgpaCalculator">
        <div class="container col-md-4 col-md-offset-4" ng-controller="cgpaCtrl">
            <form name="cgpaForm">
                <fieldset>
                    <div class="form-group">
                        <input type="number" class="form-control" ng-model="data.cgpa">
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control" ng-model="data.creditsCompleted">
                    </div>
                    <div class="form-inline"  ng-repeat="number in data.rows track by $index">
                        <div class="form-group">
                            <input type="text" class="form-control" ng-model="data.rows[$index].course">
                        </div>
                        <div class="form-group">
                            <select class="form-control" ng-model="data.rows[$index].hour"
                                ng-options="hour for hour in creditHours track by hour">
                                <option value="" disabled selected>-credit-</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <select class="form-control" ng-model="data.rows[$index].grade"
                                ng-options="grade for grade in grades track by grade">
                                <option value="" disabled selected>-grade-</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <a class="btn btn-danger" aria-label="Delete" ng-click="data.rows.splice($index, 1)" ng-show="data.rows.length > rowsInfo.min">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control" ng-model="data.cgpaExpected">
                    </div>
                    <div class="form-group">
                        <input type="number" class="form-control" ng-model="data.currentCredits">
                    </div>
                    <div>
                        <a class="btn" aria-hidden="true" ng-click="data.rows.push(null)" ng-show="data.rows.length < rowsInfo.max">
                            <i class="fa fa-plus-circle" aria-hidden="true"></i>
                        </a>
                        <a class="btn" aria-hidden="true" ng-click="data.rows.pop()" ng-show="data.rows.length > rowsInfo.min">
                            <i class="fa fa-minus-circle" aria-hidden="true"></i>
                        </a>
                        <a class="btn btn-default" aria-hidden="true" ng-click="reset()">
                            <i class="fa fa-refresh fa-spin" aria-hidden="true"></i>
                        </a>
                    </div>
                </fieldset>
            </form>
            <pre>{{ data | json }}</pre>
            <pre>{{ result | json }}</pre>
        </div>
    </body>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.1.4/ui-bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.1.4/ui-bootstrap-tpls.min.js"></script>
    <script src="app/app.js"></script>
    <script src="app/controllers/cgpaCtrl.js"></script>
    <script src="app/services/cgpaFactory.js"></script>

</html>